    /* Element selector */
    h1, #hobbies {
      color: red;
      background-color: yellow
    }

    /* ID selector */
    #hobbies {
      border: 2px solid green;
    }

    /* Apply to all li elements that are children of #hobbies 
    (any element of that ID) */
    #hobbies li {
      background-color: lightblue;
    }

    /* Pseudo selector (changes li background when mouse hover over) */
    li:hover, #hobbies li:hover {
      background: lightgreen;
    }

    /* Class selector */
    .big {
      font-size: 2em;
    }
